/Chess/Chess-Client/.vs
/Chess/Chess-Client/SimpleGame/x64
/Chess/Chess-Server/.vs

/2019_WT_SERVER/.vs
/2019_WT_SERVER/x64

*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.iobj
*.ipdb
/2019_WT_CLIENT/.vs/2d_client/v15/Browse.VC.opendb
